.itemCart {
    display: flex;
    border-bottom: 1px solid gray;
    max-width: 500px;
    margin: 1rem auto;
}

.itemCart img {
    width: 200px;
    margin-right: 1rem;
}

.but__eliminar {
    text-decoration: none;
    border: none;
    border-radius: 50px;
    background-color: #1b3039;
    color: #eceff3;
    padding: 9px 25px;
}